.footer {
    background-color: #1C77AC;
    color: #FFFFFF;
    padding: 10px 0;
    font-size: 1rem;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__text {
    width: 90%;
    text-align: center;
}